.headLine {
  font-size: 2rem;
  color: lightcoral;
  text-align: center;
  font-family: Lucida Handwriting, Cursive;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.add {
  text-align: center;
}

li {
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 1rem;
  margin-right: 2rem;
  border: 1px solid rgba(122, 121, 121, 0.815);
  background: rgb(251, 252, 253);
}
.container {
  box-sizing: border-box;
  /* background: rgb(241, 241, 241); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container {
  box-sizing: border-box;

  margin: auto;
  padding: 15px;
  border: 3px;
  background: rgb(241, 241, 241);
}
/* #submitRecipeBtn {
  width: 10rem;
} */

#addRecipeForm {
  display: flex;
  flex-direction: column;
}

#addRecipeForm input,
#addRecipeForm textarea {
  margin-bottom: 10px;
  padding: 8px;
}
.form-check-input {
  margin-right: 2px;
}
