.headLine {
  color: lightcoral;
  font-family: Lucida Handwriting, Cursive;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: auto;
  margin-right: 2rem;
}

.add {
  text-align: center;
}

li {
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 1rem;
  margin-right: 2rem;
  border: 1px solid rgba(122, 121, 121, 0.815);
  background: rgb(251, 252, 253);
  width: 100%;
  word-wrap: break-word;
}

.container {
  box-sizing: border-box;
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
}
.form-container {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 15px;
  border: 3px;
  background: rgb(241, 241, 241);
}

#addRecipeForm {
  display: flex;
  flex-direction: column;
}

#addRecipeForm input,
#addRecipeForm textarea {
  margin-bottom: 10px;
  padding: 8px;
}
.form-check-input {
  margin-right: 2px;
}
