body {
  background-color: rgb(241, 241, 241);
}

.container {
  background-color: rgb(241, 241, 241);
}

.form-container {
  margin: auto;
  width: 50%;
  border: 3px;
}

.rubrik {
  font-size: 2rem;
  color: lightcoral;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.add {
  text-align: center;
}

li {
  box-sizing: border-box;
  width: 50rem;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid rgba(122, 121, 121, 0.815);
}

.form-container {
  width: 50rem;
  margin: 20px;
  padding: 15px;
  background-color: rgb(241, 241, 241);
}

#addRecipeForm {
  display: flex;
  flex-direction: column;
}

#addRecipeForm input,
#addRecipeForm textarea {
  margin-bottom: 10px;
  padding: 8px;
}

/* :root {
  background-color: rgb(32, 145, 145);
}

.container {
  background-color: #ffffff;
}

.rubrik {
  color: lightcoral;
} */
